@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap);
 
.intgrtn-loader-holder{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #48ADF1;
    z-index:50;
    display:none
}
.form-check-input {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.intgrtn-loader-holder.static .intgrtn-lds-dual-ring{
    position:static;
    left:auto;
    right:auto;
    transform:translate(0,0)
}
.intgrtn-loader-holder .intgrtn-loader-text-holder{
    text-align:center;
    max-width:80%;
    max-height:80%;
    position:absolute;
    left:50%;
    top:50%;
    color:#fff;
    transform:translate(-50%,-50%)
}
.intgrtn-loader-holder .intgrtn-loader-text-holder .intgrtn-lds-dual-ring{
    position:static;
    left:auto;
    right:auto;
    transform:translate(0,0)
}
.intgrtn-loader-text{
    margin-top:15px;
    font-size:14px
}
.intgrtn-loader-holder .intgrtn-lds-dual-ring:after{
    content:" ";
    display:block;
    width:46px;
    height:46px;
    margin:1px;
    border-radius:50%;
    border:5px solid #fff;
    border-color:#fff transparent #fff transparent;
    animation:intgrtn-lds-dual-ring 1.2s linear infinite
}
@keyframes intgrtn-lds-dual-ring{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}
.regform-error-text{
    display:block;
    margin-top:2px;
    padding-right:5px;
    text-align:right;
    font-size:13px;
    color:#f44336;
    
}
.email-error,.first-name-error,.last-name-error,.phone-error{
    display:none
}
#custom-regform{
    font-family:Lato,sans-serif;
    background: #48ADF1;
    border-radius: 10px;
}
#custom-regform .iti,#custom-regform input,#custom-regform ul li{
    font-size:13px
}
.form-section{
    max-width:450px;
    margin:30px auto
}
.form-container{
    border-radius:6px;
    box-shadow:2px 3px 16px 1px grey
}
#custom-regform .form-header{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    text-transform:uppercase;
    background: rgba(43, 48, 58, .75);
    text-align:center;
    color:#fff;
    font-weight:700;
    margin:0;
    padding:30px 24px;
    font-size:20px;
    letter-spacing:2px;
    font-family:inherit;
    line-height:40px;
    white-space:normal;
    word-break:break-word
}
#regform{
    position:relative
}
.form-body{
    margin:0;
    padding:30px;
    box-sizing:border-box;
    text-indent:0;
    text-align:left
}
.steps-navigator{
    text-align:center;
    margin-bottom:20px;
    display:flex
}
.active-step{
    background: rgba(43, 48, 58, .75);
}
.inactive-step{
    background-color:#ececec
}
.navigator-step{
    display:inline-block;
    color:#fff;
    font-size:2em;
    line-height:1.1em;
    border-radius:3px;
    font-weight:700;
    height:7px;
    width:50%;
    text-indent:100%;
    margin-right:5px;
    overflow:hidden
}
.input-holder{
    margin-bottom:10px
}
.input-holder input{
    padding:12px 16px;
    width:100%;
    display:block;
    margin:0;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #cacaca;
    border-radius:6px;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
.form-btn-holder{
    margin-bottom:10px;
    margin-top:15px;
    text-align:center
}
.step-btn{
    margin:0 auto;
    font-size:17px;
    font-weight:700;
    position:relative;
    color:#fff;
    border:none;
    border-radius:6px;
    background: rgba(43, 48, 58, .75);
    text-transform:uppercase;
    width:100%;
    padding:16px 24px;
    cursor:pointer;
    white-space:normal;
    text-align:center;
    outline:0
}
#btn-step-2,.second-step{
    display:none
}
#btn-step-1,.first-step{
    display:block;
    color: white;
}
.iti__flag{
    background-image:url(https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags.png)
}
.iti{
    width:100%
}
#f_phone{
    width:100%
}
.step-btn span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:.5s
}
.step-btn span:after{
    content:'\00bb';
    position:absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition:.5s
}
.step-btn:hover span{
    padding-right:25px
}
.step-btn:hover span:after{
    opacity:1;
    right:0
}
.step-btn:active{
    -webkit-box-shadow:inset 0 0 6px #bdbdbd;
    -moz-box-shadow:inset 0 0 6px #bdbdbd;
    box-shadow:inset 0 0 6px #bdbdbd
}
.f_modal{
    font-family:Lato,sans-serif !important;
    display:none;
    position:fixed;
    z-index:100;
    padding-top:30px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:#000;
    background-color:rgba(0,0,0,.6);
    color:#333
}
.modal-content{
    height:auto;
    position:relative;
    background-color:#fefefe;
    border-radius:6px;
    box-shadow:0 4px 15px rgb(0 0 0 / 50%);
    max-width:1000px;
    margin:auto;
    margin-bottom:10%;
    padding:20px;
    border:1px solid #888
}
.close{
    color:#aaa;
    float:right;
    font-size:28px;
    font-weight:700
}
.close:focus,.close:hover{
    color:#000;
    text-decoration:none;
    cursor:pointer
}
.f_modal h2{
    font-size:36px;
    font-weight:700px
}
.subtitle{
    display:block;
    margin:16px auto;
    color:#000;
    font-size:14px;
    text-align:center;
    line-height:26px
}
.main-img{
    max-width:100%;
    margin:0 auto
}
.text-col{
    width:53%;
    padding:10px;
    margin-right:10px;
    margin-left:10px;
    vertical-align:top
}
.img-col{
    width:40%
}
.modal-row{
    margin-top:30px
}
.modal-row div{
    display:inline-block
}
.thankyou-step{
    display:flex;
    align-items:center;
    margin-bottom:25px
}
.thankyou-step-item{
    font-size:18px;
    font-weight:600;
    text-align:center;
    background: rgba(43, 48, 58, .75);
    margin-right:15px;
    opacity:.2
}
.thankyou-step-item.active{
    opacity:1
}
.thankyou-step-item:after{
    content:"";
    display:block;
    height:11px;
    border-radius:5.5px;
    box-shadow:0 5px 3.7px .3px rgb(120 38 255 / 16%);
    background-color:#7826ff;
    margin-top:10px;
    width:100px
}
h2.item-h{
    font-size:24px;
    line-height:30px;
    font-weight:700;
    color:#000
}
.item-p{
    color:#a7b1c7;
    font-size:14px;
    margin-top:8px;
    line-height:22px
}
.item-p strong{
    font-weight:700;
    color:#000
}
.purple{
    color:#6e39f5;
    font-weight:700
}
.go-to-account-btn{
    text-decoration:none;
    background:#f3be6f;
    border-radius:3px;
    padding:16px 64px;
    color:#fff;
    display:block;
    text-align:center;
    max-width:200px;
    margin:24px auto;
    transition:all .5s
}
.modal-bottom{
    width:100%;
    text-align:center
}
@media (max-width:890px){
    .img-col,.text-col{
        width:100%
    }
    .item-p{
        padding-right:40px;
        padding-left:5px
    }
}

.responsive-iframe {
  position: absolute;
  border: none;
  outline: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
